<p-dataTable [value]="lancamentos" [paginator]="true" [rows]="2" [responsive]="true">
    <p-column field="pessoa" header="Pessoa"></p-column>
    <p-column field="descricao" header="Descrição"></p-column>
    <p-column field="dataVencimento" styleClass="col-data" header="Vencimento">
      <ng-template let-lanc="rowData" pTemplate="body">              
        <span>{{lanc.dataVencimento | date:'dd/MM/y'}}</span>
      </ng-template>
    </p-column>
    <p-column field="dataPagamento" styleClass="col-data" header="Pagamento">
      <ng-template let-lanc="rowData" pTemplate="body">              
        <span>{{lanc.dataPagamento | date:'dd/MM/y'}}</span>
      </ng-template>
    </p-column>
    <p-column field="valor" styleClass="col-valor" header="Valor">
      <ng-template let-lanc="rowData" pTemplate="body">
        <!--span [ngStyle]="{color: lanc.tipo === 'DESPESA' ? 'red' : 'blue'}">{{lanc.valor}}</span-->
        <span [style.color]="lanc.tipo === 'DESPESA' ? 'red' : 'blue'">{{lanc.valor | currency:'BRL':true}}</span>
      </ng-template>
    </p-column>
    <p-column styleClass="col-acoes">
      <ng-template pTemplate="body">
        <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="bottom"></a>
        <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="bottom"></button>
      </ng-template>
    </p-column>
  </p-dataTable>