<div class="container">
  <form >
    <div class="ui-g">
      <h1>Novo Lancamento</h1>      
    </div>

    <div class="ui-g-12">
      <p-selectButton [options]="tipos" #tipo></p-selectButton>
    </div>

    <div class="ui-g-6 ui-md-3 ui-fluid">
      <label>Vencimento</label>
      <input pInputText type="text">
    </div>
    <div class="ui-g-6 ui-md-3 ui-fluid">
      <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
      <input pInputText type="text">
    </div>    
    <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text">
    </div>
    <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00">
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione"
          [autoWidth]="false"></p-dropdown>
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoas</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione"
          [autoWidth]="false" filter="true"></p-dropdown>
    </div>    
    
    <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea rows="3" pInputTextarea></textarea>
    </div>

    <div class="ui-g-12">
      <button type="submit" label="Salvar" pButton></button>
      <a label="Novo" class="ui-button-info" pButton></a>

      <a href="javascript:;">Voltar para pesquisa</a>
    </div>

  </form>
</div>