<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao" appCampoColorido cor='yellow'>
      </div>

      <div class="ui-g-12">
        <label style="display: block">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
          name="vencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio"></p-calendar>

        <label>até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
          name="vencimentoFim" [(ngModel)]="filtro.dataVencimentoFim"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>

    <div class="ui-g">
      <div class="ui-g-12">
        <p-dataTable [value]="lancamentos"  [responsive]="true"
        emptyMessage="Nenhum lançamento encontrado"
        [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)" #tabela>
          <p-column field="pessoa" header="Pessoa"></p-column>
          <p-column field="descricao" header="Descrição"></p-column>
          <p-column field="dataVencimento" styleClass="col-data" header="Vencimento">
            <ng-template let-lanc="rowData" pTemplate="body">
              <span>{{lanc.dataVencimento | date:'dd/MM/y'}}</span>
            </ng-template>
          </p-column>
          <p-column field="dataPagamento" styleClass="col-data" header="Pagamento">
            <ng-template let-lanc="rowData" pTemplate="body">
              <span>{{lanc.dataPagamento | date:'dd/MM/y'}}</span>
            </ng-template>
          </p-column>
          <p-column field="valor" styleClass="col-valor" header="Valor">
            <ng-template let-lanc="rowData" pTemplate="body">
              <!--span [ngStyle]="{color: lanc.tipo === 'DESPESA' ? 'red' : 'blue'}">{{lanc.valor}}</span-->
              <span [style.color]="lanc.tipo === 'DESPESA' ? 'red' : 'blue'">{{lanc.valor | number:'1.2-2' }}</span>
            </ng-template>
          </p-column>
          <p-column styleClass="col-acoes">
            <ng-template let-lanc="rowData" pTemplate="body">
              <a pButton [routerLink]="['/lancamentos', lanc.codigo]" icon="fa-pencil" pTooltip="Editar" tooltipPosition="bottom"></a>
              <button pButton icon="fa-trash" pTooltip="Excluir" type="button" tooltipPosition="bottom"
                (click)="confirmarExclusao(lanc)"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>

      <div class="ui-g-12">
        <a pButton label="Novo Lançamento" routerLink="/lancamentos/novo"  routerLinkActive="active"></a>
      </div>

    </div>

  </div>
</div>