<div class="container">
  <form [formGroup]="formulario" autocomplete="off" (ngSubmit)="salvar()">
    <div class="ui-g">
      <h1>{{editando ? 'Edição de' : 'Novo '}} Lancamento</h1>
    </div>

    <div class="ui-g-12">
        <p-selectButton name="tipo" [options]="tipos"
        formControlName="tipo">
      </p-selectButton>
        <app-message [control]="formulario.get('tipo')" error="required"
        text="Informe um tipo."></app-message>
    </div>

    <div class="ui-g-6 ui-md-3 ui-fluid">
      <label>Vencimento</label>

      <p-calendar name="dataVencimento"
            [readonlyInput]="true" [monthNavigator]="true"
            [yearNavigator]="true" [yearRange]="'1930:2080'"
            [dateFormat]="'dd/mm/yy'"
            [showIcon]="true"
            formControlName="dataVencimento"
            [locale]="configuracaoData">
      </p-calendar>


      <app-message [control]="formulario.get('dataVencimento')" error="required"
          text="Informe um vencimento."></app-message>
    </div>
    <div class="ui-g-6 ui-md-3 ui-fluid">
      <label>{{formulario.get('tipo').value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
      <p-calendar dateFormat="dd/mm/yy" name="dataPagamento"
      formControlName="dataPagamento" ></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao"
          formControlName="descricao">

        <app-message [control]="formulario.get('descricao')" error="required"
          text="Informe uma descrição."></app-message>

          <app-message [control]="formulario.get('descricao')" error="minlength"
          text="Mínimo de {{ formulario.get('descricao').errors?.minlength?.requiredLength }} caracteres"></app-message>

    </div>
    <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" name="valor" placeholder="0,00"
          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          formControlName="valor">
        <app-message [control]="formulario.get('valor')" error="required"
          text="Informe um valor."></app-message>
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
        <label>Categoria</label>
        <p-dropdown name="categoria" [options]="categorias"
          placeholder="Selecione" [autoWidth]="false" formControlName="codigo">
        </p-dropdown>

        <app-message [control]="formulario.get('categoria.codigo')" error="required"
          text="Informe uma categoria."></app-message>
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa">
        <label>Pessoas</label>
        <p-dropdown name="pessoa" [options]="pessoas" placeholder="Selecione"
          [autoWidth]="false" [filter]="true"
          formControlName="codigo">
        </p-dropdown>

        <app-message [control]="formulario.get('pessoa.codigo')" error="required"
          text="Informe uma pessoa."></app-message>
    </div>

    <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao"
        formControlName="observacao"></textarea>
    </div>

    <div class="ui-g-12">
      <button type="submit" [disabled]="formulario.invalid" label="Salvar" pButton></button>
      <a label="Novo" class="ui-button-info" pButton type="button" (click)="novo()"></a>
      <a [routerLink]="[ '/lancamentos']">Voltar para pesquisa</a>
    </div>

  </form>
</div>